body, html, div {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

body {
  background-color: #181818;
  background-image: url("images/background.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow-x: hidden;
}


@keyframes newDay {
  from {opacity: 0}
  to {opacity: 1}
}

.intro, .landing {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
}

.advice {
  color: white;
  width: 500px;
  height: 200px;
  margin: auto;
  position: relative;
  margin-top: 300px;
  text-align: center;
}

.landing .startButton {
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 40px;
  transition: transform .3s ease-in-out;
}

.landing .startButton:hover {
  transform: scale(1.1);
}

.intro.visible, .intro .historic-context.visible, .intro .story.visible, .intro .start.visible {
  opacity: 1;
}

.skipButton {
  position: fixed;
  color: white;
  bottom: 30px;
  right: 50px;
  transition: transform .3s ease-in-out;
}

.skipButton:hover {
  transform: scale(1.1);
}

.intro .historic-context {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  color: white;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.intro .story {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-color: white;
  background-position: bottom center;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro .start {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-color: white;
  background-position: bottom center;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 800px;
}

.trustSign, .faithSign {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
  top: 22px;
  background-size: auto 100%;
  margin: 0 3px;
}

.moon {
  width: 300px;
  height: 300px;
  position: fixed;
  top: -180px;
  left: calc(50vw - 150px);
  background-image: url("images/moon.png");
  background-size: 100% 100%;
  z-index: -1;
}

.moon .mask {
  filter: blur(3px);
  background: #181818;
  width: 210px;
  height: 210px;
  position: relative;
  border-radius: 10000px;
  opacity: 0.95;
  top: 42px;
  transition: top 2s ease-in-out;
  left: 47px;
}

.trustSign {
  background: url("images/trust-sign.png");
}

.faithSign {
  background: url("images/faith-sign.png");
}

.startGame {
  transition: transform .3s ease-in-out;
  font-size: 25px;
}

.startGame:hover {
  transform: scale(1.1);
}

.paragraph {
  width: 55vw;
  font-size: 27px;
  text-align: center;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.paragraph:first-child {
  margin-top: 80px;
}

.paragraph.visible {
  opacity: 1;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: white;
  opacity: 1;
  transition: opacity 1s linear;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .iris1, .App .iris2, .App .iris3, .App .iris4 {
  width: 100vw;
  height: 100vw;
  position: fixed;
  background-size: 100% 100%;
  transition: transform 2s ease-in-out;
  transition-delay: 8s;
}

.App .iris1 {
  top: 0;
  left: 0;
  background-image: url("images/Texture_1.png");
  transform: translate(-100vw, -100vw);
}

.App.selectionPhase .iris1 {
  transform: translate(0, 0);
}

.App .iris2 {
  bottom: 0;
  right: 0;
  background-image: url("images/Texture_2.png");
  transform: translate(100vw, 100vw);
}

.App.selectionPhase .iris2 {
  transform: translate(0, 0);
}

.App .iris3 {
  top: 0;
  right: 0;
  background-image: url("images/Texture_3.png");
  transform: translate(100vw, -100vw);
}

.App.selectionPhase .iris3 {
  transform: translate(0, -50vh);
}

.App .iris4 {
  bottom: 0;
  left: 0;
  background-image: url("images/Texture_4.png");
  transform: translate(-100vw, 100vw);
}

.App.selectionPhase .iris4 {
  transform: translate(0, 50vh);
}

.App.announcementPhase {
  animation-timing-function: linear;
  animation-iteration-count: 1;
  opacity: 0;
}

.App.newDay {
  opacity: 1;
  animation-name: newDay;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.debug {
  position: fixed;
  z-index: 100;
  background: rgba(0,0,0,0.7);
  color: white;
  font-size: 15px;
  display: none;
}

.debug.visible {
  display: block;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 1330px;
  height: 820px;
  overflow: hidden;
}

.character {
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  box-sizing: border-box;
}

.characterImageContainer {
  margin: 100px 0 0 100px;
  flex-grow: 1;
  position: relative;
}

.characterImage, .characterShield, .characterPancarte, .characterName, .deadVideo, .characterTrust, .characterFaith, .characterPlumeLeft, .characterPlumeRight {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 10000px;
  margin: -100px 0 0 -100px;
}

.selected .characterImage {
  opacity: 0.7;
}

.character:not(.dead):not(.selected) .characterImageContainer:hover .characterTrust,
.character:not(.dead):not(.selected) .characterImageContainer:hover .characterFaith {
  opacity: 1;
}

.characterPlumeLeft,
.characterPlumeRight {
  opacity: 0;
  background-size: contain;
  width: 126px;
  background-repeat: no-repeat;
  transition: opacity 0.2s;
  transform: none;
}

.characterPlumeLeft {
  background-image: url("images/plumeleft.png");
  margin-left: -134px;
}
.characterPlumeRight {
  background-image: url("images/plumeright.png");
  margin-left: -10px;
}

.selected .characterPlumeLeft,
.selected .characterPlumeRight {
  opacity: 1;
}

.characterTrust,
.characterFaith {
  opacity: 1;
  background-size: contain;
  width: 70px;
  background-repeat: no-repeat;
  transition: opacity 0.2s;
  transform: none;
}

.dead .characterTrust,
.dead .characterFaith {
    opacity: 0;
}

.characterFaith {
  background-image: url("images/faith-chaotic.png");
  margin: -81px 0 0 -115px;
}

.characterFaith.bad {
  background-image: url("images/faith-bad.png");
}
.characterFaith.good {
  background-image: url("images/faith-good.png");
}
.characterFaith.loyal {
  background-image: url("images/faith-loyal.png");
}

.characterTrust.bad {
  background-image: url("images/trust-bad.png");
}
.characterTrust.good {
  background-image: url("images/trust-good.png");
}
.characterTrust.loyal {
  background-image: url("images/trust-loyal.png");
}


.characterTrust {
  background-image: url("images/trust-chaotic.png");
  margin: -81px 0 0 26px;
}

.characterPancarte {
  height: 190px;
  border-radius: 0;
  background-image: url("images/pancarte.png");
  background-size: 100%;
}

.dead .characterPancarte {
  background-image: url("images/pancartedead.png");
}

.characterImageContainer.rot5 > *:not(.characterFaith):not(.characterTrust) {
  transform: rotate(1deg);
}

.characterImageContainer.rot10 > *:not(.characterFaith):not(.characterTrust) {
  transform: rotate(3deg);
}

.characterImageContainer.rot15 > *:not(.characterFaith):not(.characterTrust) {
  transform: rotate(5deg);
}

.characterImageContainer.rot-5 > *:not(.characterFaith):not(.characterTrust) {
  transform: rotate(-1deg);
}

.characterImageContainer.rot-10 > *:not(.characterFaith):not(.characterTrust) {
  transform: rotate(-3deg);
}

.characterImageContainer.rot-15 > *:not(.characterFaith):not(.characterTrust) {
  transform: rotate(-5deg);
}

.characterImageContainer.flip > video {
  transform: scale(-1, 1);
}

.characterImage {
  width: 140px;
  height: 140px;
  margin: calc(-100px + 20px) 0 0 calc(-100px + 20px);
  transition: opacity 0.2s;
}

.characterImageBig {
  border-radius: 1000px;
  left: -170px;
  top: -135px;
  width: 450px;
  position: absolute;
}

.characterShield {
  background: url("images/hublot.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.characterName {
  text-align: center;
  padding-top: 152px;
  height: 0;
}

.characterText {
  background: url("images/Bulle.png");
  margin: -110px 0 0 -110px;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 15px;
  display: none;
  transform: rotate(0deg);
}

@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(30deg) scale(1.5);
    opacity: 0;
  }
}
@keyframes rotating {
  from{
    transform: rotate(30deg) scale(1.5);
    opacity: 0;
  }
}

.characterText:not(:empty) {
  display: block;
  -webkit-animation: rotating 0.5s ease-out;
  animation: rotating 0.5s ease-out;
}

.characterTextInner {
  color: black;
  padding: 34px 24px 0px;
}

.character .deadVideo {
  clip-path: circle(84.5px at center)
}

.character.dead .characterImage,
.character.dead .characterShield {
  display: none;
}

.popinContainer {
  width: 990px;
  height: 500px;
  position: relative;
  background-image: url("images/bigPancarte.png");
  background-repeat: no-repeat;
  top: 60px;
  left: 100px;
}


.sacrificeAnnouncement,
.factAnnouncement,
.decisionAnnouncement,
.gameoverAnnouncement,
.decisionAnswer,
.anonymousLetterAnnouncement,
.gameplayAnnouncement {
  background: #000000ed;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.sacrificeAnnouncement.visible,
.decisionAnswer.visible,
.decisionAnnouncement.visible,
.factAnnouncement.visible,
.anonymousLetterAnnouncement.visible,
.gameplayAnnouncement.visible {
  display: flex;
  opacity: 1;
  animation: visible 2s ease-out;
}

.gameoverAnnouncement.visible {
  display: flex;
  opacity: 1;
  animation: visible 4s ease-out;
}

@-webkit-keyframes visible {
  from{
    opacity: 0;
  }
}
@keyframes visible {
  from{
    opacity: 0;
  }
}

.shamanBigShield {
  background-image: url("images/hublot.png");
  width: 550px;
  height: 550px;
  background-size: contain;
  display: inline-flex;
  position: absolute;
  left: -215px;
  top: -175px;
}

.shamanMessage {
  left: 350px;
  top: 120px;
  width: 528px;
  font-size: 29px;
  text-align: left;
  display: inline-flex;
  position: absolute;
  color: white;
}

.shamanOK, .shamanYES, .shamanNO {
  bottom: -20px;
  right: 95px;
  width: 200px;
  height: 80px;
  display: inline-flex;
  position: absolute;
  background: url("images/pancarteButton.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: black;
  padding-left: 80px;
  padding-top: 40px;
  font-size: 34px;
  font-weight: bold;
}

.shamanYES {
  right: 300px;
}

.shamanNO {
  right: 95px;
}

.hide {
  opacity: 0 !important
}

.App.selectionPhase .sacrificeInstruction {
  display: block;
}

.sacrificeInstruction {
  display: none;
  font-size: 40px;
  text-align: center;
}

.App.selectionPhase .cycleInstruction {
  display: none;
}

.cycleInstruction {
  font-size: 40px;
  text-align: center;
}

.letterPopinContainer {
  width: 990px;
  height: 640px;
  position: relative;
  background-image: url('images/parchment.png');
  background-repeat: no-repeat;
  background-position: center;
}

.letterContent {
  font-size: 30px;
  text-align: left;
  padding: 30px 95px 0 95px;
}
