body, html, div {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

body {
  background-color: black;
  overflow-x: hidden;
}

@keyframes fadeToBlack {
  0% {clip-path: circle(1000px at center); opacity: 1}
  20% {clip-path: circle(0px at center); opacity: 0}
  100% {clip-path: circle(0px at center); opacity: 0}
}

@keyframes newDay {
  from {opacity: 0}
  to {opacity: 1}
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: white;
  opacity: 1;
  transition: opacity 1s linear;
}

.App.selectionPhase {
  animation-name: fadeToBlack;
  animation-duration: 10s;
  animation-delay: 7s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  clip-path: circle(1000px at center);
}

.App.announcementPhase {
  animation-timing-function: linear;
  animation-iteration-count: 1;
  opacity: 0;
}

.App.newDay {
  clip-path: none;
  opacity: 1;
  animation-name: newDay;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.debug {
  position: fixed;
  z-index: 100;
  background: rgba(0,0,0,0.7);
  color: white;
  font-size: 15px;
}

.characters {
  background: #000000;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.character {
  flex-basis: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.characterImageContainer {
  margin: 100px 0 0 100px;
  flex-grow: 1;
  position: relative;
}

.characterImage, .characterShield, .characterPancarte, .characterName, .deadVideo, .characterTrust, .characterFaith {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 10000px;
  margin: -100px 0 0 -100px;
}

.character:not(.dead) .characterImageContainer:hover .characterTrust,
.character:not(.dead) .characterImageContainer:hover .characterFaith {
  opacity: 1;
}

.characterTrust,
.characterFaith {
  opacity: 0;
  background-size: contain;
  width: 70px;
  background-repeat: no-repeat;
  transition: opacity 0.2s;
  transform: none;
}

.characterFaith {
  background-image: url('faith-chaotic.png');
  margin: -81px 0 0 -115px;
}

.characterFaith.bad {
  background-image: url('faith-bad.png');
}
.characterFaith.good {
  background-image: url('faith-good.png');
}
.characterFaith.loyal {
  background-image: url('faith-loyal.png');
}

.characterTrust.bad {
  background-image: url('trust-bad.png');
}
.characterTrust.good {
  background-image: url('trust-good.png');
}
.characterTrust.loyal {
  background-image: url('trust-loyal.png');
}


.characterTrust {
  background-image: url('trust-chaotic.png');
  margin: -81px 0 0 26px;
}

.characterPancarte {
  height: 190px;
  border-radius: 0;
  background-image: url('pancarte.png');
  background-size: 100%;
}

.dead .characterPancarte {
  background-image: url('pancartedead.png');
}

.characterImageContainer.rot5 > *:not(.characterFaith):not(.characterTrust) {
  transform: rotate(4deg);
}

.characterImageContainer.rot10 > *:not(.characterFaith):not(.characterTrust) {
  transform: rotate(7deg);
}

.characterImageContainer.rot15 > *:not(.characterFaith):not(.characterTrust) {
  transform: rotate(10deg);
}

.characterImageContainer.rot-5 > *:not(.characterFaith):not(.characterTrust) {
  transform: rotate(-4deg);
}

.characterImageContainer.rot-10 > *:not(.characterFaith):not(.characterTrust) {
  transform: rotate(-7deg);
}

.characterImageContainer.rot-15 > *:not(.characterFaith):not(.characterTrust) {
  transform: rotate(-10deg);
}

.characterImageContainer.flip > video {
  transform: scale(-1, 1);
}

.characterImage {
  width: 140px;
  height: 140px;
  margin: calc(-100px + 20px) 0 0 calc(-100px + 20px);
}

.characterImageBig {
  border-radius: 1000px;
  margin: 100px 0 0 -603px;
  width: 450px;
  position: absolute;
}

.characterShield {
  background: url('hublot.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.characterName {
  text-align: center;
  padding-top: 152px;
  height: 0;
}

.characterText {
  background: url('Bulle.png');
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 15px;
  display: none;
  transform: rotate(0deg);
}

@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(30deg) scale(1.5);
    opacity: 0;
  }
}
@keyframes rotating {
  from{
    transform: rotate(30deg) scale(1.5);
    opacity: 0;
  }
}

.characterText:not(:empty) {
  display: block;
  -webkit-animation: rotating 0.5s ease-out;
  animation: rotating 0.5s ease-out;
}

.characterTextInner {
  color: black;
  padding: 34px 24px 0px;
}

.selected {
  background: green;
}

.character .deadVideo {
  display: none;
  clip-path: circle(83px at center)
}
.character.dead .deadVideo {
  display: block;
}
.character.dead .characterImage,
.character.dead .characterShield {
  display: none;
}

.sacrificeAnnouncement, .factAnnouncement, .decisionAnnouncement, .gameoverAnnouncement {
  background: black;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url('bigPancarte.png');
  background-position: center 180px;
  background-repeat: no-repeat;
}

.sacrificeAnnouncement.visible,
.decisionAnnouncement.visible,
.factAnnouncement.visible {
  display: block;
  opacity: 1;
  animation: visible 2s ease-out;
}

.gameoverAnnouncement.visible {
  display: block;
  opacity: 1;
  animation: visible 4s ease-out;
}

@-webkit-keyframes visible {
  from{
    opacity: 0;
  }
}
@keyframes visible {
  from{
    opacity: 0;
  }
}

.shamanBigShield {
  background-image: url('hublot.png');
  width: 550px;
  height: 550px;
  background-size: contain;
  display: inline-flex;
  position: absolute;
  margin: 50px 0 0 -650px;
}

.shamanMessage {
  margin: 310px 0 0 -70px;
  width: 428px;
  font-size: 33px;
  text-align: left;
  display: inline-flex;
  position: absolute;
  color: white;
}

.shamanOK, .shamanYES, .shamanNO {
  margin: 590px 0px 0 120px;
  width: 200px;
  height: 80px;
  display: inline-flex;
  position: absolute;
  background: url('pancarteButton.png');
  background-repeat: no-repeat;
  background-size: contain;
  color: black;
  padding-left: 80px;
  padding-top: 40px;
  font-size: 34px;
  font-weight: bold;
}

.shamanYES {
  margin: 590px 0px 0 -50px;
}

.shamanNO {
  margin: 590px 0px 0 170px;
}
